{% extends 'base.html.twig' %}

{% block title %}Your account{% endblock %}

{% block body %}

<!-- Page Header-->
<section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="white-text">Your profile</h2>
                <span class="white-text">Personnal & Professionnal informations</span>
                <ol class="breadcrumb">
                    <li><a href="#!">Home</a></li>
                    <li class="active">Profile</li>
                </ol>
            </div>
        </div>
    </div>
</section>
$


{% endblock %}
